.container {
  margin: auto;
  padding: 0 20px;
}

.boxes-background {
  background-color: var(--color-neutral-900);
  background-image:
    linear-gradient(var(--color-neutral-800) 1px, transparent 1px),
    linear-gradient(
      to right,
      var(--color-neutral-800) 1px,
      var(--color-neutral-900) 1px
    );
  background-size: 20px 20px;
}

.company-icon-color {
  filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(1%)
    hue-rotate(24deg) brightness(95%) contrast(94%);
}
